.comedu {
    text-align: justify;
    font-size: 20px;
    color: blue;
}

#zzz {
    font-size: 50px;
}

h1{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}